@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme inline {
  --color-primary: #2563EB;
  --color-primary-dark: #1D4ED8;
  --color-primary-light: #EFF6FF;
  --color-accent-red: #EF4444;
  --color-surface: #F8FAFC;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
  color: #111827;
}

::selection {
  background-color: #111827;
  color: white;
}
